.WeatherApp {
    border: 1px solid #cfcfcf;
    margin: 50px auto 0;
    max-width: 600px;
    border-radius: 10px;
    padding: 35px;
}

.WeatherApp ul {
    list-style: none;
    padding: 0;
    color: #6a6767;
}

.WeatherApp h1 {
    font-weight: 700;
}

.WeatherApp .form {
    margin-bottom: 20px;
}

.WeatherApp canvas {
    height: 75px;
    padding-right: 10px;
    float: left;
}

.WeatherApp .temperature {
    font-size: 55px;
    font-weight: 600;
}

.WeatherApp .unit {
    font-size: 26px;
    font-weight: 600;
}

.WeatherApp .unit .inactive {
    font-size: 20px;
}

.WeatherApp .unit a {
    text-decoration: none;
}